<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>
        <h1>Lista de Actas</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource">
        <div>
          <ng-container matColumnDef="lenguaje">
            <th mat-header-cell *matHeaderCellDef>Lenguaje</th>
            <td mat-cell *matCellDef="let acta">
              <a [routerLink]="[acta_edit_route, acta.id_acta]">{{ acta.lenguaje }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let acta" (click)="editarActa(acta)">
              {{ acta.tipo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let acta" (click)="editarActa(acta)">
              {{ acta.fecha | date : "short" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="activa">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let acta">
              <mat-slide-toggle (click)="cambiarStatusActa(acta)" [checked]="acta.estado"></mat-slide-toggle>
            </td>
          </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>