node_modules
\.angular
\.vscode
dist
environments
src/app/models/fake-db.ts
src/app/models/MockUp.ts
coverage/tfg-pacle-frontend/base.css
coverage/tfg-pacle-frontend/block-navigation.js
coverage/tfg-pacle-frontend/favicon.png
coverage/tfg-pacle-frontend/index.html
coverage/tfg-pacle-frontend/prettify.css
coverage/tfg-pacle-frontend/prettify.js
coverage/tfg-pacle-frontend/sort-arrow-sprite.png
coverage/tfg-pacle-frontend/sorter.js
coverage/tfg-pacle-frontend/app/constants.ts.html
coverage/tfg-pacle-frontend/app/index.html
