.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.acta-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field{
  max-width: 386px;
}