<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>
          <h1>Lista de alumnos</h1>
        </mat-card-title>
        <button mat-raised-button>Añadir alumno nuevo<mat-icon matPrefix>add</mat-icon></button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" *ngIf="listLoaded">
        <div>
          <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alumno">
              {{alumno.dni }}
            </td>
          </ng-container>
          <ng-container matColumnDef="id_alumno">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alumno">
              {{alumno.id_alumno }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alumno">
              {{alumno.nombre }}
            </td>
          </ng-container>
          <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alumno">
              {{ alumno.apellidos}}
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let alumno">
              <button mat-icon-button><mat-icon>edit</mat-icon></button>
              <button mat-icon-button><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="!listLoaded">
        <h2>No se han encontrado alumnos.</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>