<div class="list-container container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bienvenido</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list *ngIf="actionsList">
        <mat-list-item *ngFor="let action of actionsList">
          <a [routerLink]="'/' + action.url">{{action.url}}
            <span matListItemTitle> {{action.action_label}}</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>