<div class="matricula-form">
  <div>
    <h1>Matricular</h1>
  </div>
  <form [formGroup]="matriculaForm">
    <mat-form-field appearance="fill" class="col">
      <mat-label for="convocatoria">Selecciona una convocatoria</mat-label>
      <mat-select formControlName="convocatoriaSeleccionada" [compareWith]="compareFn">
        <mat-option *ngFor="let convocatoria of listadoConvocatorias$ | async" [value]="convocatoria">{{
          convocatoria.specificIdentifier }} {{ convocatoria.lenguaje.lenguaje }}
          {{ convocatoria.nivel.nivel }}
          {{ convocatoria.fecha | date : 'medium' }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col">
      <mat-label for="alumno">Selecciona un alumno</mat-label>
      <mat-select formControlName="alumnoSeleccionado" [compareWith]="compareFn">
        <mat-option *ngFor="let alumno of listadoAlumnos$ | async" [value]="alumno">{{ alumno.dni }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" type="button" (click)="matricular()">Matricular</button>
</div>