form {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  .bloque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    .parte {
      display: flex;
      flex-direction: column;
      width: auto;
      height: fit-content;
      border: solid 1px gray;
      margin: 1rem;
      padding: 1rem;
      .parte-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .parte-datos {
        display: flex;
        flex-direction: column;
        width: fit-content;
        .row {
          display: flex;
          flex-direction: row;
          margin: 1rem 0;
          width: 100%;
        }
      }
      .number {
        width: fit-content;
      }
    }
  }
}
