<div class="convocatoria">
  <div class="convocatoria-header">
    <div class="info-convocatoria" *ngIf="convocatoria$ | async">

    </div>
    <div class="info-alumno" *ngIf="alumno$ | async">

    </div>
  </div>
  <div class="evaluacion">
    <div class="bloque-lectoescritura">
      <div class="comprension-lectora" *ngIf="updatedComprensionLectora() | async">
        <button mat-raised-button color="accent" type="submit">
          Guardar
        </button>
      </div>
      <div class="expresion-escrita" *ngIf="updatedExpresionEscrita() | async">
        <button mat-raised-button color="accent" type="submit">
          Guardar
        </button>
      </div>
    </div>
    <div class="bloque-destrezas-orales">
      <div class="comprension-auditiva" *ngIf="updatedComprensionAuditiva() | async">
        <button mat-raised-button color="accent" type="submit">
          Guardar
        </button>
      </div>
      <div class="expresion-oral" *ngIf="updatedExpresionOral() | async">
        <button mat-raised-button color="accent" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>