<div class="colectivoUV-container">
    <mat-form-field>
        <mat-label for="colectivoUV-nuevo">Añadir nuevo Colectivo UV</mat-label>
        <input matInput id="colectivoUV-nuevo" [formControl]="nuevoColectivoUVForm">
        <mat-icon matSuffix (click)="addColectivoUV()">add</mat-icon>
    </mat-form-field>
    <mat-list>
        <div class="list-item" *ngFor="let colectivoUV of colectivosUV$ | async; let last=last">
            <mat-list-item *ngIf="colectivoUV">
                <span class="list-item-span" matListItemTitle *ngIf="colectivoUV.idColectivoUV">{{colectivoUV.colectivoUV}}<mat-icon (click)="deleteColectivoUV(colectivoUV.idColectivoUV)">delete</mat-icon></span>
            </mat-list-item>
            <mat-divider *ngIf=" !last">{{last}}</mat-divider>
        </div>
    </mat-list>
</div>