<div class="panel-header">
    <h1>Panel de administrador</h1>
</div>
<div class="panel-admin-container">
    <div class="panel panel-idiomas-container"><app-lenguajes></app-lenguajes></div>
    <div class="panel panel-horarios-container"><app-horarios></app-horarios></div>
    <div class="panel panel-niveles-container"><app-niveles></app-niveles></div>
    <div class="panel panel-generos-container"><app-generos></app-generos></div>
    <div class="panel panel-colectivoUV-container"><app-colectivouv></app-colectivouv></div>
    <div class="panel panel-roles-container"><app-roles></app-roles></div>
</div>