<div class="tipos-container">
  <mat-form-field>
    <mat-label for="tipo_nuevo">Añadir nuevo tipo</mat-label>
    <input matInput id="tipo_nuevo" [formControl]="nuevoTipoForm">
    <mat-icon matSuffix (click)="addTipoConvocatoria()">add</mat-icon>
  </mat-form-field>
  <mat-list>
    <div class="list-item" *ngFor="let tipo of tipos$ | async">
      <mat-list-item>
        <span matListItemTitle>{{tipo.tipo}}</span><mat-icon (click)="deleteTipoConvocatoria(tipo.idTipo)">delete</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>