<div class="convocatoria-form-container container" *ngIf="convocatoria_form">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="creating">Creaccion de una convocatoria</mat-card-title>
      <mat-card-title *ngIf="!creating">Edicion de una convocatoria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="convocatoria_form" *ngIf="!loading">
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label for="lenguaje">Lenguaje de la convocatoria</mat-label>
            <mat-select formControlName="lenguaje">
              <mat-option [value]="lenguaje.lenguaje" *ngFor="let lenguaje of lista_idiomas_convocatoria$ | async">{{ lenguaje.lenguaje }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label for="fechaParcial">Choose a date</mat-label>
            <input matInput startAt="fechaParcial" [matDatepicker]="fechaParcial" formControlName="fechaParcial" />
            <mat-datepicker-toggle matIconSuffix [for]="fechaParcial"></mat-datepicker-toggle>
            <mat-datepicker #fechaParcial></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col">
            <mat-label for="horario" name="horario">Hora de la convocatoria</mat-label>
            <mat-select formControlName="horarioParcial">
              <mat-option [value]="horario.horario" *ngFor="let horario of lista_horarios_convocatoria$ | async">{{ horario.horario }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label for="maxComprensionLectora" name="maxComprensionLectora">
              Peso maximo de la parte de Comprension lectora</mat-label>
            <input matInput type="number" formControlName="maxComprensionLectora" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="col">
            <mat-label for="maxExpresionEscrita" name="maxExpresionEscrita">
              Peso maximo de la parte de Expresion escrita</mat-label>
            <input matInput type="number" formControlName="maxExpresionEscrita" />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="col">
            <mat-label for="maxComprensionAuditiva" name="maxComprensionAuditiva">Peso maximo de la parte de Comprension auditiva</mat-label>
            <input matInput type="number" formControlName="maxComprensionAuditiva" />
          </mat-form-field>
          <mat-form-field appearance="fill" class="col">
            <mat-label for="maxExpresion_oral" name="maxExpresion_oral">Peso maximo de la parte de Expresion oral</mat-label>
            <input matInput type="number" formControlName="maxExpresion_oral" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="saveConvocatoria()" *ngIf="creating">
        Crear Convocatoria
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="saveConvocatoria()" *ngIf="!creating">
        Actualizar Convocatoria
      </button>
    </mat-card-actions>
  </mat-card>
</div>