.acta-edition-container {
  padding: 0.25rem;
  height: 100%;
  .header {
    padding: 0.25rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .info {
      padding: 0.25rem;
      display: flex;
      align-items: center;
      label {
        margin: 0 2rem;
        h5 {
          margin: 0.25rem 0;
        }
      }
    }
    .info + .info {
      margin: 0.5rem;
    }
  }
  .content {
    padding: 0.25rem;
    margin: 0.5rem;
    display: flex;
    .bloque-lectura-escritura {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0.25rem;
      margin: 0.5rem;
    }
    .bloque-oral-auditiva {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0.25rem;
      margin: 0.5rem;
    }
  }
  .footer {
    .info-acta {
      padding: 0.25rem;
      margin: 0.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      label {
        margin: 0.25rem 0.75rem;
        h5 {
          margin: 0.25rem 0;
        }
      }
    }
  }
}
.parte {
  padding: 0.25rem;
  margin: 0.5rem;
}
