form {
  display: flex;
  flex-flow: row wrap;
  .tareas-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    .tarea {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      .tarea-label {
        width: 85%;
        height: 25px;
        padding: 0.6rem 1rem;
      }
      .tarea-valor {
        width: 15%;
        height: 25px;
        padding: 0.6rem 1rem;
      }
    }
  }
  .inputs-container {
    width: 49%;
    display: flex;
    flex-flow: column wrap;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
