@use '@angular/material' as mat;

@include mat.core();

$md-base: (
  50: #e6e0ec,
  100: #c1b3cf,
  200: #9880b0,
  300: #6e4d90,
  400: #4f2678,
  500: #300060,
  600: #2b0058,
  700: #24004e,
  800: #1e0044,
  900: #130033,
  A100: #906bff,
  A200: #6a38ff,
  A400: #4405ff,
  A700: #3b00eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-acento: (
  50: #e0fff0,
  100: #b3ffd9,
  200: #80ffc0,
  300: #4dffa6,
  400: #26ff93,
  500: #00ff80,
  600: #00ff78,
  700: #00ff6d,
  800: #00ff63,
  900: #00ff50,
  A100: #ffffff,
  A200: #f2fff5,
  A400: #bfffcf,
  A700: #a6ffbc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warning: (
  50: #fff0e0,
  100: #ffd9b3,
  200: #ffc080,
  300: #ffa64d,
  400: #ff9326,
  500: #ff8000,
  600: #ff7800,
  700: #ff6d00,
  800: #ff6300,
  900: #ff5000,
  A100: #ffffff,
  A200: #fff5f2,
  A400: #ffcfbf,
  A700: #ffbca6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$Pacle-Primary: mat.define-palette($md-base, 900, A700);

$Pacle-Accent: mat.define-palette($md-acento, 500);

$Pacle-Warning: mat.define-palette($md-warning, 500);

$Pacle-Theme: mat.define-light-theme(
  (
    color: (
      primary: $Pacle-Primary,
      accent: $Pacle-Accent,
      warning: $Pacle-Warning,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($Pacle-Theme);

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0;
  font-size: calc(0.75em + 1vmin);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
  border-radius: 8px;
}

h4 {
  margin: 1rem 0;
}

.container {
  width: min(100vw, 1920px);
  display: flex;
  flex-direction: column;
}
