<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>
          <h1>Lista de convocatorias</h1>
        </mat-card-title>
        <button mat-raised-button [routerLink]="[edit_route]">Añadir convocatoria nueva<mat-icon matPrefix>add</mat-icon></button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" *ngIf="listLoaded">
        <div>
          <ng-container matColumnDef="lenguaje">
            <th mat-header-cell *matHeaderCellDef>Lenguaje</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.lenguaje.lenguaje}}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.fecha | date}}
            </td>
          </ng-container>
          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef>Horario</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.horario.horario}}
            </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let convocatoria">
              <mat-slide-toggle [(ngModel)]="convocatoria.estado"></mat-slide-toggle>
            </td>
          </ng-container>
          <ng-container matColumnDef="id_convocatoria">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{convocatoria.id_convocatoria }}
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let convocatoria">
              <button mat-icon-button [routerLink]="[edit_route, { id_convocatoria: convocatoria.id_convocatoria}]"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let convocatoria; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="!listLoaded">
        <h2>No se han encontrado convocatorias.</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>