<div class="container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>
          <h1>Lista de convocatorias</h1>
        </mat-card-title>
        <button mat-raised-button [routerLink]="[edit_route]">
          Añadir convocatoria nueva<mat-icon matPrefix>add</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="data_source" *ngIf="!loading">
        <div>
          <ng-container matColumnDef="idConvocatoria">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.idConvocatoria }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lenguaje">
            <th mat-header-cell *matHeaderCellDef>Lenguaje</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.lenguaje.lenguaje }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef>Nivel</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.nivel.nivel }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.fecha | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef>Horario</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.horario.horario }}
            </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let convocatoria">
              <mat-slide-toggle [(ngModel)]="convocatoria.estado"></mat-slide-toggle>
            </td>
          </ng-container>
          <ng-container matColumnDef="maxComprensionAuditiva">
            <th mat-header-cell *matHeaderCellDef>Max Comp. Auditiva</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.parteComprensionAuditiva.puntuacionMaxima }}
            </td>
          </ng-container>
          <ng-container matColumnDef="maxComprensionLectora">
            <th mat-header-cell *matHeaderCellDef>Max Comp. Lectora.</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.parteComprensionLectora.puntuacionMaxima }}
            </td>
          </ng-container>
          <ng-container matColumnDef="maxExpresionEscrita">
            <th mat-header-cell *matHeaderCellDef>Max Exp. Escrita</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.parteComprensionAuditiva.puntuacionMaxima }}
            </td>
          </ng-container>
          <ng-container matColumnDef="maxExpresionOral">
            <th mat-header-cell *matHeaderCellDef>Max Exp. Oral</th>
            <td mat-cell *matCellDef="let convocatoria">
              {{ convocatoria.parteExpresionOral.puntuacionMaxima }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let convocatoria">
              <button
                *ngIf="convocatoria.idConvocatoria"
                mat-icon-button
                [routerLink]="[alumno_list_route, { idConvocatoria: convocatoria.idConvocatoria }]">
                <mat-icon>list</mat-icon>
              </button>
              <button
                *ngIf="convocatoria.idConvocatoria"
                mat-icon-button
                [routerLink]="[edit_route, { idConvocatoria: convocatoria.idConvocatoria }]">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
        </div>
        <tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let convocatoria; columns: displayed_columns"></tr>
      </table>
      <div *ngIf="!loading">
        <h2>No se han encontrado convocatorias.</h2>
      </div>
    </mat-card-content>
  </mat-card>
</div>
