.acta-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  mat-card {
        width: min(880px, 90vw);

    mat-card-header {
      margin: 2rem auto;
    }

    mat-card-content {
      form {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        min-width: min(380px, 100%);
        max-width: 760px;
      }
    }
    mat-card-footer{
      margin: auto;
    }
  }
}
